.view-user-details{
  margin-top: 2rem;
  margin-left: 15rem;
}
.dialog{
  width: 50vw;
}

/* .video-icon{
  position:relative; top:0.33em;
} */

.followingButton{
  float: right;
}

.following{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width:540px){
    .view-user-details {
        margin-top: 1rem;
        margin-left: 15rem;
    }
}

@media only screen and (max-device-width: 768px){
  .dialog{
    width: 100vw;
  }
}