.formArea{
    top:50%;
    left:50%;
    border: groove #282c34;
    padding:1rem;
    margin: auto;
    margin-top: 10%;
    width: 25rem;
    background:white;
    border-radius:1rem;
}

.formArea h2, .formArea h3{
    text-align:center;
}

.formArea h2{
    padding: 0 0 1rem 0;
    border-bottom:0.3rem solid silver;
    color:darkslategray;
}
.formArea h3{
    font-size:large;
    font-family: Calibri, serif;
}

.formArea .formForgotPassword{
    padding:0 2rem;
    box-sizing:border-box;
}

form .txt_field{
    position:relative;
    border-bottom:0.1rem solid #adadad;
    margin: 2rem 0;
}

.txt_field input{
    width:100%;
    padding:0 0.5rem;
    font-size: large;
    border:none;
    background: none;
    outline: none;
}


.buttonLabel{
    margin-left:35%;
}

.txt_field span::before{
    content:'';
    position:absolute;
    top:1rem;
    left:0;
    width:0%;
    height:0.1rem;
    transition: .5s;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width:100%;
}

.forgotPasswordButton{
    width:100%;
    color:#e9f4fb ;
    font-weight: 700;
    cursor:pointer;
    outline:none;
    font-family: Calibri, serif;
}
.resendBox{
    padding: 1rem 1rem 1rem 25%;
}
.resend{
    margin-top:1rem;
    padding:1rem;
    height:2rem;
    width:10rem;
    margin-left:50%;
    margin-right:auto;
}
