.pageNumbers {
  list-style: none;
  display: flex;
}
.pageNumbers li {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  cursor: pointer;
}
.pageNumbers li.active {
  margin: 0.3rem;
}

ul{
  display: flex;
  margin-right: 0.3rem;
}

.page-item{
    margin-left: 0;
}

.App-header{
  margin-bottom: 10em;

}